<!-- 1> this is a partial file user to reduce redundancy 
     2> have to start the file with an _ for naming convention so rails understand that it is a partial
     3> now we can reference this file look at application.html.erb
-->
<div class="container">
    <% flash.each do |name, msg| %>
    
    <!-- Notice: we use bootstrap alert and dismissing class-->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= msg%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%end%>
</div>
